.post-create-button {
  color: white;
  background-color: #5e1e27;
  padding: 7px 7px;
  border-radius: 4px;
}

.post-list-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.post-list-image {
  width: 100px;
  height: 50px;
  width: 100px;
  height: 100px;
  border: 5px solid blue;
}

.post-list-audio {
  position: absolute;
  bottom: 0%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.music-card {
  margin: 100px auto;
  background: #fff;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 450px;
  border-radius: 6px;
  border: 2px solid red;
}

.image {
  background-size: cover;
  position: absolute;
  z-index: 1;
  opacity: 0.9;
  height: 250px;
  width: 300px;
}

.image:after {
  height: 100px;
  content: '';
  top: 200px;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: linear-gradient(rgba(9, 2, 4, 0), #444);
}

.wave {
  position: absolute;
  height: 750px;
  width: 750px;
  opacity: 0.5;
  left: 0;
  top: 0;
  margin-left: -70%;
  margin-top: -130%;
  background: radial-gradient(lightgray, #383737);
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 10px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}
/* when stop */
.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}
/* when stop */
.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}
/* when stop */
.wave:nth-child(3) {
  animation-duration: 45s;
}

.info {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  text-align: center;
}

.title {
  font-size: 1.4em;
  font-weight: 400;
  color: #333;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: 'Reem Kufi', sans-serif;
}

.artist {
  color: #cfcfcf;
  font-size: 1.2em;
  letter-spacing: 0.08em;
  font-family: 'Reem Kufi', sans-serif;
}

.post-list-box {
  /* border: 2px solid blue; */
  margin-top: 15px;
}

.post-box {
  margin: 20px auto;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  position: relative;
  width: 280px;
  height: 380px;
  border-radius: 6px;
  border: 2px solid #5e1e27;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-image {
  /* border: 2px solid red; */
  width: 280px;
  height: 220px;
}
.post-info {
  /* border: 2px solid blue; */
}
.post-audio {
  /* border: 2px solid green; */
  width: 280px;
}

.post-writer {
  transition: 0.2s;
}
.post-writer:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.ptemp {
  min-height: 480px;
}