.cancel-btn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  /* padding-right: 10px; */
  /* border: 2px solid red; */
}
.stepper-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-right: 17px;
  /* border: 2px solid red; */
}

.stepper-box {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 100px; */
}

.set-quest-box {
  margin-top: 10px;
}

.quest-box {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */
  width: 60%;
}

.radio-box {
  display: flex;
  align-items: center;
  /* border: 2px solid green; */
}

.quest-create-input {
  width: 100%;
}

.quest-create-input:focus {
  outline-color: rgb(255, 99, 173);
}

.stepper-final-box {
  display: flex;
  justify-content: center;
}

.stepper-final-box-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid blue; */
  margin-bottom: 100px;
  width: 85%;
}

.create-final-label {
  /* border: 2px solid red; */
  color: rgb(95, 91, 91);
}

.create-final-quest {
  /* border: 2px solid blue; */
  width: 85%;
}

.create-final-ans {
  /* border: 2px solid orange; */
  margin-left: 5px;
}

.create-final-ans-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  /* border: 2px solid purple; */
  width: 88%;
}

.stepper-exam-preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 2px solid #0d0a0a;
  padding-top: 10px;
}
.stepper-custom-btn {
  color: #0d0a0a;
  background-color: rgb(255, 99, 173);
  padding: 10px;
}

.create-box {
  /* border: 2px solid blue; */
  padding: 10px 20px 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 330px;
  overflow: auto;
}
.board-img {
  transform: rotate(270deg);
  border: 2px solid red;
  width: 100px;
  height: 200px;
  /* margin-left: 100px; */
}

/* .create-box {
  position: relative;
  text-align: center;
  color: black;
  height: 300px;
  border: 2px solid red;
}
.board-img {
  transform: rotate(270deg);
  position: relative;
}
.in-board {
  width: 650px;
  height: 400px;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
} */

.test-box {
  height: 500px;
  width: 65%;
  /* border: 2px solid purple; */
  background-image: url('../../assets//question/board1.png');
  background-size: 950px 500px;
  background-repeat: no-repeat;
  margin: 30px 0 10px 0;
  padding: 75px 150px 0px 200px;
  display: flex;
  flex-direction: column;
}
