.cancel-btn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.stepper-btn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  margin-right: 15px;
}

.stepper-box {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.set-quest-box {
  margin-top: 10px;
}

.quest-box {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */
  width: 90%;
}

.radio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  /* border: 2px solid green; */
  width: 90%;
}

.quest-create-input {
  width: 100%;
}

.quest-create-input:focus {
  outline-color: rgb(255, 99, 173);
}

.stepper-final-box {
  display: flex;
  justify-content: center;
}

.stepper-final-box-comp {
  /* border: 2px solid black; */
  margin-bottom: 100px;
  width: 85%;
}

.create-final-label {
  /* border: 2px solid red; */
  color: rgb(95, 91, 91);
}

.create-final-quest {
  /* border: 2px solid blue; */
  width: 85%;
}

.create-final-ans {
  /* border: 2px solid orange; */
  margin-left: 5px;
}

.create-final-ans-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  /* border: 2px solid purple; */
  width: 88%;
}

.stepper-exam-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 2px solid #0d0a0a;
  padding-top: 10px;
}
.stepper-custom-btn {
  color: #0d0a0a;
  background-color: rgb(255, 99, 173);
  padding: 10px;
}
