.exam-create-btn {
  border: 3px solid rgb(238, 37, 161);
  border-radius: 4px;
  outline: none;
  color: black;
  background-color: transparent;
  padding: 1.5px 2px;
}
.exam-update-btn {
  border: 2px solid rgb(238, 37, 161);
  border-radius: 4px;
  outline: none;
  color: black;
  background-color: transparent;
}
.exam-delete-btn {
  border: 2px solid rgb(219, 63, 63);
  border-radius: 4px;
  outline: none;
  color: black;
  background-color: transparent;
}
