.cancel-btn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.stepper-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.stepper-box {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.set-quest-box {
  margin-top: 10px;
}

.quest-box {
}

.radio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.quest-create-input {
  width: 100%;
}
