.centerBox {
  width: 50%;
  padding: 20px 5px;
}
.answer-box {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.answer-quest {
  width: 50%;
}
.answer-btn {
  width: 28%;
}
.answer-yes,
.answer-no {
  border: none;
  outline: none;
  color: white;
}
.answerYes {
  display: inline;
}
.notYetYes {
  display: none;
}
