.call-template {
  min-height: 364px;
  border: solid black 2px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.start-part {
  margin-top: 15%;
}

.start-button {
  border: 3px solid #ef9e9f;
  border-radius: 4px;
  outline: none;
  color: white;
  background-color: #ef9e9f;
  padding: 3px 5px;
}
.end-button {
  margin-bottom: 2%;
  border: 3px solid #77AAAD;
  border-radius: 4px;
  outline: none;
  color: white;
  background-color: #77AAAD;
  padding: 3px 5px;
  margin-left: 25%;
}