.call-template {
  min-height: 453px;
  border: solid black 2px;
  margin-top: 2%;
  margin-bottom: 2%;
  background-image: url('../../assets/call/Call1.jpg');
  background-size: 1111px 650px;
  opacity: 0.9
}
.start-part {
  margin-top: 15%;
}

.start-button {
  border: 3px solid #ef9e9f;
  border-radius: 4px;
  outline: none;
  color: white;
  background-color: #ef9e9f;
  padding: 3px 5px;
}
.end-button {
  border: 3px solid #77AAAD;
  border-radius: 4px;
  outline: none;
  color: white;
  background-color: #77AAAD;
  padding: 3px 5px;
  margin-left: 25%;
  position: absolute;
  left: 45%;
  bottom: -3%;
  width: 200px;
}
