.login-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 270px;
}
.login-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.login-input {
  margin-bottom: 5px;
}
.login-button {
  margin-top: 7px;
  margin-bottom: 5px;
  height: 35px;
  background-color: #77AAAD;
  border: #77AAAD;
  color: white;
}
.login-template {
  background-color: #D9D4CF;
}
.login-box {
  margin: auto;
  margin-top: 190px;
  padding: 50px;
  background-color: white;
}
.login-name {
  margin-bottom: 40px;
  color: #5E1E17;
}