.my-profile-template{
  padding: 40px;
  width: 40%;
  border: solid black 2px;
  margin: auto;
  margin-top: 7%;
  margin-bottom: 7%;
  box-shadow: 2px 2px 2px 2px;
}
.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.profile-button {
  margin-top: 7px;
  margin-bottom: 5px;
  height: 35px;
  background-color: #77AAAD;
  border: #77AAAD;
  color: white;
  width: 360px;
}
.profile-tape {
  width: 180px;
  position: absolute;
  top: 35%;
  left: 44%;
}
.profile-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.profile-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}
.profile-footer {
  margin-top: 30px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}
.profile-input {
  margin-bottom: 5px;
  width: 100%;
}
.profile-button {
  margin-top: 5px;
  margin-bottom: 5px;
}
.profile-record {
  width: 100px;
}
.birth-input {
  margin-bottom: 5px;
  width: 100%;
}