.signup-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
}

.signup-footer {
  display: flex;
  justify-content: space-between;
}
.signup-input {
  margin-bottom: 5px;
}
.signup-button {
  margin-top: 5px;
  margin-bottom: 5px;
}
.signup-record {
  width: 100px;
}
.gender-and-age {
  display: flex;
  justify-content: space-between;
}