@font-face {
  font-family: 'BMEULJIRO';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.home-section1 {
  background-color: #E6E3D4;
}
.home-section2 {
  background-color: #E6E3D4;
  display: flex;
}
.home-section3 {
  background-color: #E6E3D4;
  display: flex;
}
.home-section4 {
  background-color: #E6E3D4;
  display: flex;
}
.home-section5 {
  background-color: #E6E3D4;
  display: flex;
}
.home-section1-image {
  width: 22%;
  margin-left: 38%;
  margin-bottom: 18px;
}
.home-section2-image {
  width: 65%;
  margin-left: 15%;
}
.home-section3-image {
  width: 65%;
  margin-left: 15%;
}
.home-section4-image {
  width: 65%;
  margin-left: 15%;
}
.home-section5-image {
  width: 65%;
  margin-left: 15%;
}
.home-link {
  margin-left: 47%;
  font-size: 25px;
  font-family: 'BMEULJIRO';
  color: #5E1E17;
}
.home-scroll-down {
  width: 15px;
  position: absolute;
  right: 50%;
  bottom: 4%;
}
.home-h1 {
  font-size: 60px;
  color: #5E1E17;
}
.home-padding {
  width: 70%;
}
.home-margin {
  margin-top: 30%;
}