.navbar {
  border-bottom: 1px solid lightgray;
  height: 50px;
}
.back-button {
  margin-right: 10px;
  color: gray;
  font-size: 15px;
}

/*전구 css */
:root {
  --theme-color-one: #025ba0;
  --theme-color-two: #9bc72b;
  --theme-color-three: #f0c517;
  --theme-color-four: #bf1724;
  --theme-color-five: #5cc9f4;
  --white: #fff;
  --black: #000;
  --grey: #999;
  /* background: var(--black); */
  /* color: var(--white); */
}

@keyframes light-up-theme-color-one {
  0% {
    box-shadow: 0 1px 10px 5px var(--theme-color-one);
  }
  25% {
    box-shadow: 0 1px 15px 5px var(--theme-color-one);
  }
  50% {
    box-shadow: 0 1px 20px 5px var(--theme-color-one);
  }
  75% {
    box-shadow: 0 1px 25px 5px var(--theme-color-one);
  }
  100% {
    box-shadow: none;
  }
}

@keyframes light-up-theme-color-two {
  0% {
    box-shadow: 0 1px 10px 5px var(--theme-color-two);
  }
  25% {
    box-shadow: 0 1px 15px 5px var(--theme-color-two);
  }
  50% {
    box-shadow: 0 1px 20px 5px var(--theme-color-two);
  }
  75% {
    box-shadow: 0 1px 25px 5px var(--theme-color-two);
  }
  100% {
    box-shadow: none;
  }
}

@keyframes light-up-theme-color-three {
  0% {
    box-shadow: 0 1px 10px 5px var(--theme-color-three);
  }
  25% {
    box-shadow: 0 1px 15px 5px var(--theme-color-three);
  }
  50% {
    box-shadow: 0 1px 20px 5px var(--theme-color-three);
  }
  75% {
    box-shadow: 0 1px 25px 5px var(--theme-color-three);
  }
  100% {
    box-shadow: none;
  }
}

@keyframes light-up-theme-color-four {
  0% {
    box-shadow: 0 1px 10px 5px var(--theme-color-four);
  }
  25% {
    box-shadow: 0 1px 15px 5px var(--theme-color-four);
  }
  50% {
    box-shadow: 0 1px 20px 5px var(--theme-color-four);
  }
  75% {
    box-shadow: 0 1px 25px 5px var(--theme-color-four);
  }
  100% {
    box-shadow: none;
  }
}

@keyframes light-up-theme-color-five {
  0% {
    box-shadow: 0 1px 10px 5px var(--theme-color-five);
  }
  25% {
    box-shadow: 0 1px 15px 5px var(--theme-color-five);
  }
  50% {
    box-shadow: 0 1px 20px 5px var(--theme-color-five);
  }
  75% {
    box-shadow: 0 1px 25px 5px var(--theme-color-five);
  }
  100% {
    box-shadow: none;
  }
}

.light-bulbs {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
}
.light-bulbs-title {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  border: 2px solid red;
}
.header-menu {
  display: none;
}

.light-bulb {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.light-bulb.theme-color-one {
  background: var(--theme-color-one);
}

.light-bulb.theme-color-two {
  background: var(--theme-color-two);
}

.light-bulb.theme-color-three {
  background: var(--theme-color-three);
}

.light-bulb.theme-color-four {
  background: var(--theme-color-four);
}

.light-bulb.theme-color-five {
  background: var(--theme-color-five);
}

.light-bulb {
  /* prior styles go here */
  position: relative;
}

.light-bulb::before {
  content: '';
  position: absolute;
  border: 2px solid #222;
  width: 10px;
  height: 10px;
  background: #222;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  left: 32%;
  top: -8px;
}
.light-bulb::after {
  content: '';
  top: -19px;
  left: 60%;
  position: absolute;
  width: 79px;
  height: 28px;
  border-bottom: 4px solid #222;
  border-radius: 50%;
  z-index: -1;
}

.light-bulb:last-of-type::after {
  border: none;
}

.light-bulb {
  /* prior styles go here */
  animation-duration: 1.1s;
  animation-iteration-count: infinite;
}

.theme-color-one:hover {
  animation-name: light-up-theme-color-one;
}
.header-one {
  display: none;
}
.theme-color-one:hover + .header-one {
  display: block;
  color: black;
}

.light-bulb.theme-color-two:hover {
  animation-name: light-up-theme-color-two;
}

.light-bulb.theme-color-three:hover {
  animation-name: light-up-theme-color-three;
}

.light-bulb.theme-color-four:hover {
  animation-name: light-up-theme-color-four;
}

.light-bulb.theme-color-five:hover {
  animation-name: light-up-theme-color-five;
}

.myDIV {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
}

.header-one {
  display: none;
}

.myDIV:hover + .header-one {
  display: flex;
  color: black;
}

.lights {
  border: 2px solid red;
}

.lights > .light-one-bar {
  background-color: black;
  width: 5px;
  height: 50px;
}

.light-one {
  display: flex;
  flex-direction: column;
}

.fa-lightbulb {
  transform: rotate(180deg);
}

/* .box {
  height: 110px;
  display: flex;
  align-self: center;
  width: 100%;
}
.box::before {
  content: '';
  animation: bg-swing 2s ease-in-out 2s infinite alternate;
}
@keyframes bg-swing {
  from {
    transform: translate3d(-5%, 0, 0);
  }
  to {
    transform: translate3d(5%, 0, 0);
  }
} */
.box {
  display: flex;
  justify-content: space-around;
  width: 80%;
  /* border: 2px solid blue; */
  /* margin-bottom: 30px; */
}

.bulb-wire {
  /* position: absolute;
  left: 40%; */
  width: 2.5px;
  background-color: #000;
  /* transform: rotate(45deg); */
  transform-origin: 0 0;
  animation: bulb-swing 0.8s ease-in-out 0.8s infinite alternate;
}

.blue-wire:hover {
  animation: bulb-swing 0.8s ease-in-out 0.8s infinite alternate;
}

.bulb-one {
  height: 52px;
}
.bulb-two {
  height: 40px;
}

@keyframes bulb-swing {
  from {
    transform: rotate(2deg);
  }
  to {
    transform: rotate(-2deg);
  }
}

.fa-lightbulb {
  position: absolute;
  left: -7px;
  bottom: -20px;
  font-size: 25px;
  transform: rotate(180deg);
}
.fa-lightbulb::after {
  content: '';
  display: block;
  position: absolute;
  background: yellow;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 3px;
  left: 2px;
  z-index: -1;
}

.bulb-glow {
  /* border: 1px solid red; */
  background: yellow;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 0, 0.5) 0%,
    rgba(255, 255, 0, 0) 100%
  );
  width: 70px;
  height: 40px;
  bottom: -27px;
  /* left: 50%; */
  margin-left: -34px;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
  opacity: 0.3;
  animation: bulb-light 2s ease-in-out 2s infinite alternate;
}

.bulb-glow:hover {
  /* background: green; */
  background: radial-gradient(
    ellipse at center,
    rgba(221, 80, 70, 0.5) 0%,
    rgba(224, 49, 72, 0) 60%
  );
  width: 100px;
  height: 100px;
  bottom: -60px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
  opacity: 0.25;
  animation: bulb-light 2s ease-in-out 2s infinite alternate;
}

.bulb-light:hover + .bulb-glow {
  /* background: green; */
  background: radial-gradient(
    ellipse at center,
    rgba(221, 80, 70, 0.5) 0%,
    rgba(224, 49, 72, 0) 60%
  );
  width: 100px;
  height: 100px;
  bottom: -60px;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
  opacity: 0.25;
  animation: bulb-light 2s ease-in-out 2s infinite alternate;
}

@keyframes bulb-light {
  from {
    background-color: rgba(255, 255, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes text-shadow {
  0% {
    transform: scaleY(-0.25) skew(-20deg);
    left: 40px;
  }
  100% {
    transform: scaleY(-0.25) skew(20deg);
    left: 0px;
  }
}

.center-logo {
  width: 150px;
  height: 50px;
  /* border: 2px solid green; */
}

.light-box {
  /* border: 2px solid green; */
  /* width: 70px; */
}
.hide-menu {
  /* visibility: hidden; */
}

.light-box:hover + .hide-menu {
  /* border: 3px solid orange; */
  visibility: visible !important;
}

.header-link {
  color: #5e1e17;
  text-decoration: none;
}

.header-top {
  margin-top: 10px;
  height: 70px;
  border: solid black 2px;
  background-color: #fadad8;
}
.header-top-under {
  margin-top: 7px;
  border: solid black 2px;
  background-color: #fadad8;
}

.header-logo {
  margin-top: 10px;
  width: 170px;
}
